<?xml version="1.0" encoding="UTF-8"?>
<!--
  Requerido pelo ambiente Windows/IIS do Plesk: o IIS nao entende .htaccess
  (Apache), entao esta e a regra equivalente via modulo URL Rewrite, mandando
  toda requisicao que nao seja um arquivo ou pasta existente para o front
  controller do Laravel (index.php). Sem isso, qualquer rota que nao seja a
  raiz do site retorna 404/500.

  Pre-requisito no Plesk: em "Configuracoes de Hospedagem" do dominio, o
  "Document root" deve apontar para a pasta /public (nao para a raiz do
  repositorio) - e o restante do projeto (app/, vendor/, .env, etc.) fica
  fora da area publica.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Laravel Front Controller" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
